<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ReimursementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>loginpage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/employeeregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginLogicServlet</servlet-name>
    <servlet-class>com.revature.controller.LoginLogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginLogicServlet</servlet-name>
    <url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GetReimbursementTypes</servlet-name>
    <servlet-class>com.revature.controller.GetReimbursementTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReimbursementTypes</servlet-name>
    <url-pattern>/getReimbursementTypes</url-pattern>
  </servlet-mapping> 
   <servlet>
    <description></description>
    <servlet-name>EmployeeReimSubmit</servlet-name>
    <servlet-class>com.revature.controller.EmployeeReimSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeReimSubmit</servlet-name>
    <url-pattern>/EmployeeReimSubmit</url-pattern>
  </servlet-mapping> 
</web-app>